* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #474747 url(bg.png);
}

#content {
	margin: 70px;
	width: 400px;
}

#title {
	display: block;
	text-decoration: none;
	font: 80px Georgia, Helvetica, Arial, Sans-Serif;
	letter-spacing: -2px; 
	color: #a0a0a0;
	height: 80px;
	text-shadow: 0px 5px 8px #2a2a2a;
	-moz-text-shadow: 0px 5px 8px #2a2a2a;
	-webkit-text-shadow: 0px 5px 8px #2a2a2a;
}

#article {
	font: 20px Tahoma, Helvetica, Arial, Sans-Serif;
	line-height: 120%;
	color: #222;
	text-shadow: 0px 2px 3px #555;
	-moz-text-shadow: 0px 2px 3px #555;
	-webkit-text-shadow: 0px 2px 3px #555;
}

#article  a {
	color: #222;
	text-decoration: none;
	border-bottom: 1px dashed #222;
	text-shadow: 0px 2px 3px #555;
	-moz-text-shadow: 0px 2px 3px #555;
	-webkit-text-shadow: 0px 2px 3px #555;
}

#article span
{
	text-decoration: line-through;
}

#line  {
	background-color: #222222;
	border-bottom:1px solid #555;
	height:1px;
	margin:1em 0;
	overflow:hidden;

}

#links {
	-moz-border-radius:4px 4px 4px 4px;
	background-color:#a0a0a0;
	border:1px solid #2a2a2a;
	height:60px;
	left:-20px;
	padding:12px 20px 0 40px;
	position:fixed;
	top:170px;
	width:380px;
	z-index:200;
}